<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.mapper.SysUserMapper">

    <!--查询所有用户信息-->
    <select id="findUserList" resultType="com.shiro.model.SysUser">
       SELECT * FROM sys_user
    </select>

    <!--根据名称查询用户信息 mr.yang 2019年12月8日-->
    <select id="findUserByLoginName" resultType="com.shiro.model.SysUser">
      SELECT * FROM sys_user WHERE username = #{username}
    </select>

    <!--新增用户(注册)  mr.yang 2019年12月8日-->
    <select id="register">
        INSERT INTO sys_user (username,password,salt) VALUES (#{username},#{password},#{salt})
    </select>
</mapper> 